<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${appName}">Spring Boot Information</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <main>
        <h1>Details Info: <span style="color: brown;" th:text="${title}">Online Server</span></h1>
        <a href="/home">home</a>
        <hr>
        <h2 ht:text="">Information del empleado</h2>
        <ul>
            <li><strong>Nombre:</strong> <span th:text="${empleado.firstName}"></span></li>
            <li><strong>Apellido:</strong> <span th:text="${empleado.lastName}"></span></li>
            <li><strong>Dirección:</strong> <span th:text="${empleado.address}"></span></li>
            <li><strong>Puesto:</strong> <span th:text="${empleado.range}"></span></li>
            <li><strong>Edad:</strong> <span th:text="${empleado.age}"></span></li>
            <li><strong>Telefono:</strong> <span th:text="${empleado.phone}"></span></li>
            <li><strong>Id:</strong> <span th:text="${empleado.id}"></span></li>
        </ul>
        <hr>
    </main>
</body>
</html>